/* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* .main-content {
  flex: 1;
} */


.container {
    max-width: 100vw;
    background: rgb(175, 255, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    padding: 0 20px 0;
}
span {
    color: red;
}
.container p {
    font-size: 24px;
    font-weight: bold;
}

.nav-items {
    width: 50%;
}
.nav-items ul {
    display: flex;
    justify-content: space-around;
    color: gray;
    /* text-decoration: none; */
    list-style-type: none;
}
.nav-items ul:hover {
    cursor: pointer;
    /* text-decoration: 1px solid red; */
    /* text-decoration-line: underline; */
}
.nav-items ul li:hover {
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
font-size: 24px;

}
/* .nav-items ul:active {
    text-decoration: 1px solid red;
} */


/* --------------------------- Pricing section -------------------------------- */
h2 {
    text-align: center;
    font-size: 24px;

}
.subscription-container {
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
}
.subscription-container {
    flex: 1;
}

.plan {
    /* background-color: brown; */
    border: 2px solid rgb(44, 183, 44);
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
/* .plan:hover {
    box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.5);
    cursor: pointer;
} */
.plan-standard-border {
    /* background-color: brown; */
    border: 2px solid blueviolet;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.plan-premium-border {
    /* background-color: brown; */
    border: 2px solid goldenrod;
    width: 230px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.plan-name {
    color: rgb(44, 183, 44);
    font-size: 24px;
    font-weight: bold;
}
.plan-name-standard {
    color: blueviolet;
    font-size: 24px;
    font-weight: bold;
}
.plan-name-premium {
    color: goldenrod;
    font-size: 24px;
    font-weight: bold;
}
.price-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: rgb(44, 183, 44);
    justify-content: center;
    display: flex;
    align-items: center;
}
.price-circle p {
    color: white;
    font-weight: bold;
}
.price-circle-standard {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: blueviolet;
    justify-content: center;
    display: flex;
    align-items: center;
}
.price-circle-standard p {
    color: white;
    font-weight: bold;
}
.price-circle-premium {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 40px;
    background-color: goldenrod;
    justify-content: center;
    display: flex;
    align-items: center;
}
.price-circle-premium p {
    color: white;
    font-weight: bold;
}

.desc {
    color: gray;
}


/* ------------------------------ Footer Section -------------------------------------- */
 .footer-container {
  background-color: rgb(175, 255, 228);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* width: 500px; */
  justify-content: center;
}

 .footer-items {
  background-color: rgb(175, 255, 228);
  text-align: center;
  padding: 20px;
  display: flex;
  /* width: 500px; */
  justify-content: center;
}

.footer-items div a {
    margin: 10px;
}